<form action="/" method="post" enctype="multipart/form-data">

    <input type="file" name="file"><br><br>
    
    <label for="subject">Subject</label><br>
    <input type="text" id="subject" name="subject"><br><br>
    <label for="message">Message</label><br>
    <input type="text" id="message" name="message"><br><br>
    <h2>From 2 to list of mail</h2>
    <h4>Count value from 1</h4>
    <label for="from">From</label><br>
    <input type="text" id="from" name="from"><br><br>
    <label for="to">To</label><br>
    <input type="text" id="to" name="to"><br><br>
    <input type="submit" value="Upload"><br>
</form>